.App {
  text-align: center;
  font-family: 'Satoshi', sans-serif;

}

.font-link {
  font-family: 'Satoshi', sans-serif;
}

.radio-label {
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
}

.radio-pillbox {
  height: 5em;
  width: 100%;
  font-size: 1em;
  border: 0;
  border-radius: 75px;
  overflow: hidden;
  background: -webkit-linear-gradient(100deg, #0ef49b 0%, #d2dc69 30%, #faa04b 70%, #ff5a64 100%);
  background: -moz-linear-gradient(100deg, #0ef49b 0%, #d2dc69 30%, #faa04b 70%, #ff5a64 100%);
  background: -o-linear-gradient(100deg, #0ef49b 0%, #d2dc69 30%, #faa04b 70%, #ff5a64 100%);
  background: -ms-linear-gradient(100deg, #0ef49b 0%, #d2dc69 30%, #faa04b 70%, #ff5a64 100%);
  background: linear-gradient(100deg, #0ef49b 0%, #d2dc69 30%, #faa04b 70%, #ff5a64 100%);
  color: #000000;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.radio-pillbox radiogroup {
  height: 100%;
  width: 100%;
  display: flex;
}

.radio-pillbox radiogroup div {
  width: 100%;
  position: relative;
}

.radio-pillbox radiogroup div input {
  -webkit-appearance: inherit;
  width: 100%;
  height: 100%;
  transition: background 300ms ease-out;
  margin: 0;
  outline: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.radio-pillbox radiogroup div input:checked {
  color: #5f6982;
  border: none;
  box-shadow: inset 0 10px 50px rgba(25, 25, 25, 0.1);
}

.radio-pillbox radiogroup .first {
  border-radius: 75px 0 0 75px;
  border-left: none;
}

.radio-pillbox radiogroup .last {
  border-radius: 0 75px 75px 0;
}

.radio-pillbox radiogroup div label {
  position: absolute;
  top: 50%;
  /* top plus line-height centers text */
  line-height: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.radio-pillbox input:focus {
  outline: 0;
}

.radio-pillbox label:after {
  content: "\2714";
  display: inline-block;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, -webkit-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -moz-transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, -moz-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -o-transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, -o-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.radio-pillbox input:checked+label:after {
  margin-left: 12px;
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms, -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
  -moz-transition: -moz-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms, -moz-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
  -o-transition: -o-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms, -o-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms, transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.title {
  font-family: 'Satoshi', sans-serif;
  font-size: 200%;
  color: #989898;
  /* text-shadow: 0 25px 50px -12px rgb(193, 33, 33); */
  text-shadow: 2px -1px 15px rgb(0, 0, 0);
  margin: 0 0 1em 0.3em;
  padding: 0.3em;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-start;
  align-content: center;
}

.subscreen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #353535;
  min-height: 100vh;

  /* display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-content: flex-start; */

  font-size: calc(10px + 2vmin);
  /* color: rgb(231, 132, 45); */
  color: #E7842D;
}

.App-link {
  color: #61dafb;
}

.animation-wrapper {
  width: 50%;
  padding-bottom: 50%;
}

.sphere-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

.bouncing-loader {
  display: inline-flex;
  justify-content: center;
}

.bouncing-loader>div {
  width: 10px;
  height: 10px;
  margin: 2px 4px;
  border-radius: 50%;
  background-color: #E7842D;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-10px);
  }
}

.bouncing-loader>div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader>div:nth-child(3) {
  animation-delay: 0.4s;
}


/* 
.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(80, 80, 80, .35);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: .4px;
  }
} */


.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 35%;
  height: 35px;
  border-radius: 9999px;
  background: rgb(152, 152, 152, 0.3);
  box-shadow: 0 25px 50px -12px rgba(231, 132, 45, 0.3), inset 0 0 20px #626161;
  /* box-shadow: 0 25px 50px -12px rgba(231, 132, 45, 0.3), inset 0 0 20px #626161, inset -60px 0 10px #E7842D, inset 60px 0 10px rgb(81, 81, 81); */
  /* inner white */
  ;
  outline: none;
  padding: 0 0.5em;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 0.85;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  border-radius: 9999px;
  height: 25px;
  opacity: 0.7;
  background: #ffffff;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background: #E7842D;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  opacity: 0.7;
  background: #ffffff;
  cursor: pointer;
}

.slider::-moz-range-thumb:hover {
  background: #E7842D;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */