.App {
  text-align: center;
  font-family: 'Satoshi', sans-serif;

}

.font-link {
  font-family: 'Satoshi', sans-serif;
}

.visualization {
  width: 500px;
  margin-right: 3em;
  /* margin: 10px 10px 10px 10px; */
}

/* .props {
  
} */

/* .radio-label {
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
} */

/* input[type="radio"] {
 
  -webkit-appearance: none;
  appearance: none;

  background-color: #ffffff;
  
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(0.21em);
} */

/* input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;

} */

/* input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
} */

ul.no-bullets {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5em;
  font-size: calc(10px + 1.1vmin);
  ;
  ;
  /* Remove bullets */
  /* display: inline-block; */
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.title {
  font-family: 'Satoshi', sans-serif;
  font-size: 1.9em;
  color: #989898;
  /* text-shadow: 0 25px 50px -12px rgb(193, 33, 33); */
  text-shadow: 10px 2px 14px rgb(0, 0, 0);
  margin: 0 0 1em 0.3em;
  padding: 0.3em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.subscreen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  padding: 1em;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #353535;
  min-height: 100vh;

  /* display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-content: flex-start; */

  font-size: calc(10px + 2vmin);
  /* color: rgb(231, 132, 45); */
  color: #E7842D;
}

.App-link {
  color: #61dafb;
}

.animation-wrapper {
  width: 50%;
  padding-bottom: 50%;
}

.sphere-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

.bouncing-loader {
  display: inline-flex;
  justify-content: center;
}

.bouncing-loader>div {
  width: 10px;
  height: 10px;
  margin: 2px 4px;
  border-radius: 50%;
  background-color: #E7842D;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-10px);
  }
}

.bouncing-loader>div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader>div:nth-child(3) {
  animation-delay: 0.4s;
}


/* 
.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(80, 80, 80, .35);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: .4px;
  }
} */


.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 35%;
  height: 35px;
  border-radius: 9999px;
  background: rgb(152, 152, 152, 0.3);
  box-shadow: 0 25px 50px -12px rgba(231, 132, 45, 0.3), inset 0 0 20px #626161;
  /* box-shadow: 0 25px 50px -12px rgba(231, 132, 45, 0.3), inset 0 0 20px #626161, inset -60px 0 10px #E7842D, inset 60px 0 10px rgb(81, 81, 81); */
  /* inner white */
  ;
  outline: none;
  padding: 0 0.5em;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 0.85;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  border-radius: 9999px;
  height: 25px;
  opacity: 0.7;
  background: #ffffff;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background: #E7842D;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  opacity: 0.7;
  background: #ffffff;
  cursor: pointer;
}

.slider::-moz-range-thumb:hover {
  background: #E7842D;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */